# Ignore custom cmake directories
bin/

# Ignore generated ANTLR sources
gen/
grammar/.antlr/
.cache/

# Ignore CLion files
cmake-build*/
.idea/

# Ignore build files
build/

# Ignore macOS files
.DS_STORE

# test stuff
tests/maks-testfiles/
tests/fake-output/

# chloe env
CIConfig.json
.vscode
compile_commands.json
temp/

# Ignore maks' configs for lots of things
tests/GazpreaCompileConfigLocalMaks.json
# Made separate test folder for part 1 failures only
tests/part1/
run_test_maks.sh
copy_tests.sh

gaz
gaz.ll
gaz.o